<h1>posts index</h1>
<div class="row">
    <h5>検索</h5>
      <!-- form_with url: search_posts_path, method: :get do |f| -->
      <%= search_form_for @q, url: search_posts_path do |f| %>
        <%= f.search_field :title_or_caption_or_user_user_name_cont %>
        <br>
        <%= f.submit '検索' %>
      <% end %>
  </div>