<main class="page-search-result">
  <div class="container-fluid">
    <div class="row mt-1 mb-2">
      <div class="offset-3 col-6">
        <div class="row">
          <% @results.each do |post| %>
          <div class="col-4 p-1">
            <%= link_to post_path(post.id) do %>
              <% if post.image.present? %>
                <%= image_tag post.image, class: "img-fluid" %>
              <% else %>
                <%= image_tag 'no_image.jpg', class: "img-fluid" %>
              <% end %>
            <% end %>
            <%= post.title %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>