<div class="container">
  <div class="row">
    <div class="col">
      詳細
      <%= image_tag @post.image, size: "500x500" %>
      <%= @post.title%>
      <%= @post.caption%>
    </div>
  </div>
</div>