<main class="page-about">
  <div class="container-lg mx-auto">
    <div class="row">
      <div class="offset-lg-2 col-lg-8 mt-5">
        <h1>About</h1>
          <p><strong>DePUとは</strong></p>
          <p>
            運動や筋トレを始めたけれど、自分一人じゃなかなか継続できないという人に、
            おすすめのサイトです。登録しているユーザーは目的や目標は違えど、同じ運動
            や筋トレを継続したいという気持ちを持った仲間たちです。その仲間たちで支え
            合い運動や筋トレの継続に成功し、理想の自分に近づく一助になれば幸いです。
            そのため、「初心者じゃないよ。」「俺（私）の自慢の体を他の人に見て欲しい
            」というすでに芸術作品に仕上がっている方は他のサービスをご利用ください。
            もし芸術作品の方でも頑張っている人を応援したいという方は、ぜひ応援して
            ください。人々がボディメイクや運動で理想の自分を手に入れる日が来ることを
            願って<span>!</span>
          </p>
          <p class="d-flex flex-row-reverse"><strong>by DePU</strong></p>
      </div>
    </div>
  </div>
</main>