<main class="page-about mb-auto vh-100">
  <div class="container-lg mt-4">
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-8">
        <div class="border-bottom border-secondary pb-2 mb-3 d-flex align-items-center justify-content-between">
          <h3 class="m-0">ご利用上の注意</h3>
        </div>
        <div>
          <ul>
            <li>人を誹謗中傷することはやめましょう</li>
            <li>人を不快にする発信はやめましょう</li>
            <li>露出の高い画像や人を不快にさせる画像の投稿はやめましょう</li>
            <li>運動やトレーニングに関係のある発信をお願いします</li>
            <li>運動やトレーニングとは無関係の発信をしたい方は他のサービスをご利用ください</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-8">
        <div class="border-bottom border-secondary pb-2 mb-3 d-flex align-items-center justify-content-between">
          <h3 class="m-0">ご利用方法の一例</h3>
        </div>
        <div>
          <ul>
            <li>人を誹謗中傷することはやめましょう</li>
            <li>人を不快にする発信はやめましょう</li>
            <li>露出の高い画像や人を不快にさせる画像の投稿はやめましょう</li>
            <li>運動やトレーニングに関係のある発信をお願いします</li>
            <li>運動やトレーニングとは無関係の発信をしたい方は他のサービスをご利用ください</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
</main>