<main class="page-about mb-auto vh-100">
  <div class="col-md-6 mx-auto">
    <h1><strong>初めての方へ</strong></span></h1>
    <p><span class="glyphicon glyphicon-book"></span></p>
    <p>
      このサイトはダイエット初心者や運動初心者、ボディメイク初心者が運動や筋トレ
      を継続し、目標に達することなく挫折しないように、同じ目的を持った仲間同士で
      支え合うためのSNSサイトです。登録している方は同じ志を持つ仲間です。支え合っ
      て目標を達成することがこのサイトの意味です。絶対に仲間を誹謗中傷するような
      言動や発言はしないでください。利用される場合は公序良俗に反した一切の言動発
      信をしないでください。また、成果を発信する際など極端な露出は控えてください
      。また、こちらは初心者がお互いに支え合ってゴールに近づくためのサイトです。
      「初心者じゃないよ。」「俺（私）の自慢の体を他の人に見て欲しい」というよう
      なすでに芸術作品に仕上がっている方は他のサービスをご利用ください。もし芸術
      作品の方でも頑張っている人を応援したいという方は、ぜひ応援してください。
    </p>
    <p class="d-flex flex-row-reverse"><strong>by DePU</strong></p>
    <div class="row">
      <div class="mb-5">
        <% if user_signed_in? %>
          <%= link_to "Home", posts_path, class: "btn btn-outline-secondary" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "ml-3 btn btn-outline-secondary" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "ml-3 btn btn-outline-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</main>