<main class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8">
        <div class="greeting">
          <div class="row  d-flex justify-content-center text-center">
            <h1><strong>Welcome to DePU!</strong></h1>
              このサイトはダイエット初心者や運動初心者、ボディメイク初心者が、<br>
              運動や筋トレを継続し同じ目的を持った仲間同士で支え合うためのSNSサイトです。
          </div>
          <div class="row  d-flex justify-content-center">
            <div>
              登録前にぜひ
              <%= link_to 'こちら', about_path %>
              もお読みください。
            </div>
          </div>
          <% unless user_signed_in? %>
            <div class="row d-flex justify-content-center my-4">
              <div><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-sm btn-outline-secondary", method: :post %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


</main>
