<div class="container">
  <div class="row">
    <div class="col">
      <p>
        <strong>Welcome to DePU!</strong>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "Log in", new_user_session_path, class: "ml-3 btn btn-primary" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "ml-3 btn btn-info" %>
    </div>
  </div>
</div>
