@use '~bootstrap/scss/bootstrap';
@import "homes";
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Rampart+One&display=swap');

@charset "UTF-8";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'BIZ UDMincho', serif;
}
header {
  background-color: #c6d166;
}

main {
  flex: 1;
}

footer {
  width: 100%;
  background-color: #c6d166;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a {
    text-decoration: none !important;
}

.indexcomment {
  border: none;
  border-bottom: 1px solid #a9a9a9;
}

.backtop {
  text-align: center;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#back-image {
  width: 30px;
}

.medal {
  font-family: 'BIZ UDMincho', serif;
  font-family: 'Rampart One', cursive;
}