@use '~bootstrap/scss/bootstrap';
@import "homes";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: #c6d166;
}

main {
  flex: 1;
}

footer {
  width: 100%;
  background-color: #c6d166;
}
