<main class="page-notification">
  <div class="container">
    <div class="row">
      <div class="offset-2 col-8">
        <div>
          <h4 class="sub-title border-bottom mx-auto mt-3 mb-1">通知</h4>
          <% if @notifications.exists? %>
            <div class="users-index">
              <%= render @notifications %>
              <%= paginate @notifications %>
            </div>
          <% else %>
            <p>通知はありません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>