<main class="page-users-likes">
  <div class="container">
    <div class="row">
      <div class="offset-2 col-8">
        <div class="row">
          <% if @like_posts.count == 0 %>
            あなたはまだ誰にもマッチョしていません
          <% end %>
          <% @like_posts.each do |like_post| %>
          <div class="col-4 pt-5 px-2">
            <%= link_to post_path(like_post) do %>
              <%= image_tag like_post.image.variant( resize: "300x200>" ).processed, class: "img-fluid" %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>